@font-face {
    font-family: 'Neue Montreal';
    src: url('../fonts/NeueMontreal-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
  }

  @font-face {
    font-family: 'Neue Montreal';
    src: url('../fonts/NeueMontreal-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
  }


:root{
    --light: #FAF6EE;
    --beige: #F4E4D6;
    --dark: #121212;
    --red: #D85A30;
    --yellow: #EFC334;
    --blue: #0C6AA2;
    --blueDark: #1F4F9F;
    --green: #2CA58D;
    --orange: #FF8C00;

    --edgeWhiteSpace: 5em;
    --edgeWhiteSpaceSmall: 1rem;

    font-family: 'Neue Montreal', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
}


.hidden{
    display: none;
}

html{
    line-height: 1.95em;
}

img{
    width: 100%;
}

h1, h2, h3, h4, h5, h6, p, blockquote, li{
    margin: 1em 0 0.25em;
}

h1, h2 {
    font-size: 2.5em;
    line-height: 1.25em;
    max-width: 60ch;
}

h3{
    font-size: 1.5em;
}

h4, h5, h6, p, blockquote, li{
    line-height: 1.35em;
}

a{
    color: black;
}

strong{
    font-weight: bold;
}

.bold{
    font-weight: bold;
}

.serif{
    font-family: "arno-pro", "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
    font-weight: 700;
    font-style: normal;
}

.lokaltByraa{
    font-weight: bold;
    font-size: 1.25em;
}

body{
    background-color: var(--light);
}

.wrapper{
    margin: 0 auto;
    max-width: 2200px;
    padding: 0 var(--edgeWhiteSpace);
    overflow: hidden;
}

.section{
    margin-bottom: 6em;
}

.metoder{
    font-size: 1.9em;
    margin-left: 1em;
}

.metoder li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    line-height: 1.15em;
}

.metodeIkon{
    height: 2em;
    width: auto;
}

@media (width <= 810px ) {

    .wrapper{
        padding: 0 var(--edgeWhiteSpaceSmall);
    }

}

@media (width <= 450px ) {
    
    h1, h2 {
        font-size: 1.75em;
        line-height: 1.25em;
        max-width: 60ch;
    }

    h3{
        font-size: 1.4em;
    }

}   