:root{
    --contentWidthSmall: 35rem;
    --contentWidthMedium: 55rem;
    --contentWidthLarge: 75rem;
}

body{
    background-color: var(--dark);
}

*{ 
    color: white;
}

.projectWrapper{
    margin-bottom: 7rem;
}

p, h1, h2, h3, .projectMeta, .projectWrapper a{
    margin: 1em auto;
    max-width: var(--contentWidthMedium);
}

/* p:not(:has(img)) {
    max-width: 55rem;
}

.projectWrapper img, p:has(img){
    max-width: 75rem;
    margin: 1em auto;
} */

img, .imageDiv{
    height: auto;
    margin: 1em auto;
}

.S {
    max-width: var(--contentWidthSmall);
}

.M {
    max-width: var(--contentWidthMedium);
}

.L {
    max-width: var(--contentWidthLarge);
}

/* forsøk på å flytte underoverskiftene til venstre marg */
/* h2 {
    color: red;
    font-size: 1.5em;
    margin-top: 0;

} */

.projectWrapper a{
    color: var(--yellow);
}

.projectWrapper a:hover{
    color: var(--red);
}

p, .projectMeta li {
    font-size: 2rem;
}

h1{
    font-size: 3em;
}

h2, h3{
    font-size: 1.15rem;
}

.projectMeta {
    width: 100%;
    /* background-color: gray; */
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem 1.5rem;
    margin-bottom: 4em;
}

.projectMeta *{
    margin: 0;
}

.projectMeta h3{
    /* text-decoration: underline; */
    margin-bottom: 0.5em;
    border-bottom: 1px solid white;
    padding-bottom: 0.2em;
    display: inline-block;
}

p :has(img) {
    border: 2px solid blue;
    max-width: 70rem;
}

/* .projectWrapper img {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
} */