:root{
    --contentWidthSmall: 35rem;
    --contentWidthMedium: 55rem;
    --contentWidthLarge: 75rem;
    --contentWidthXL: 150rem;
    --shadowColor: rgba(0,0,0,1);
    --blurRadius: 2rem;
    --shadowOffset: 0.1rem;
}

body{
    background-color: var(--dark);
}

header {
   /* background-color: red !important; */
   position: fixed;
   z-index: 10;
}

.heroSection, .heroSection img {
    max-height: 90svh;
}

.heroSection {
    display: grid;
    grid-template-rows: 1fr;
    margin-bottom: 5svh;
}

.heroSection img{
    object-fit: cover;
    grid-area: 1/1/1/1;
    z-index: 0;
}

.heroSection h1{
    grid-area: 1/1/1/1;
    align-self: end;
    z-index: 2;
    font-size: 4rem;
    text-shadow: 0px var(--shadowOffset) var(--blurRadius) var(--shadowColor),
    0px var(--shadowOffset) var(--blurRadius) var(--shadowColor);
    margin-bottom: 0.5em;
    margin-left: 5rem;
    margin-right: 5rem;
    max-width: 34ch;
}

.overlay{
    grid-area: 1/1/1/1;
    z-index: 1;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.3) 9%, rgba(0,0,0,0) 30%);
    width: 100%;
    height: 100%;
}

*{ 
    color: white;
}

.projectWrapper{
    margin-bottom: 7rem;
}

p, h1, h2, h3, .projectMeta, .projectWrapper a, .outLink{
    margin: 1em auto;
    max-width: var(--contentWidthMedium);
}

.projectWrapper img{
    height: auto;
}

.S {
    max-width: var(--contentWidthSmall);
}

.M {
    max-width: var(--contentWidthMedium);
}

.L {
    max-width: var(--contentWidthLarge);
}

/* forsøk på å flytte underoverskiftene til venstre marg */
/* h2 {
    color: red;
    font-size: 1.5em;
    margin-top: 0;

} */

.projectWrapper a{
    color: var(--yellow);
    --arrowColor: var(--yellow);
    --linkColor: var(--yellow);
}

.projectWrapper a:hover{
    color: var(--red);
    --arrowColor: var(--red);
    --linkColor: var(--red);
}

p, .projectMeta li, .outLink {
    font-size: 2rem;
}

p {
    line-height: 1.45em;
}

h1{
    font-size: 3em;
}

h2, h3{
    font-size: 1.15rem;
}

hr{
    color: rgba(0,0,0,0);
    margin: 4rem 0;
}

.projectMeta {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem 1.5rem;
    margin-bottom: 4em;
}

.projectMeta *{
    margin: 0;
}

.projectMeta h3{
    /* text-decoration: underline; */
    margin-bottom: 0.5em;
    border-bottom: 1px solid white;
    padding-bottom: 0.2em;
    display: inline-block;
}

.kontaktperson {
    background-color: var(--light);
    max-width: var(--contentWidthSmall);
    margin: 4rem auto;
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 2.5rem 3rem;
    gap: 2.5rem;
    align-content: stretch;
    /* align-items: center; */
}

.kontaktperson *{
    color: black;
    margin: 0;
}

.kontaktperson img {
    grid-column: 1;
    grid-row: 1;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 100%;
}

.kontaktperson h2 {
    font-weight: normal;
    font-size: 1.55rem;
    line-height: 1.3em;
    margin-top: 0.5em;
}

.kontaktperson h3 {
    font-size: 2rem;
    margin: 0.5em 0 0.2em
    
}

.kontaktperson p {
    font-size: 1.15rem;
} 

.kontaktperson a{
    color: var(--red);
}

.kontaktperson a:hover{
    color: var(--blueDark);
}

.kontakt {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    align-content: space-between;
}


@media (width <= 1050px ) {
    .projectWrapper{
        margin-left: var(--edgeWhiteSpaceSmall);
        margin-right: var(--edgeWhiteSpaceSmall);
    }

    .heroSection h1{
        margin-left: var(--edgeWhiteSpaceSmall);
        margin-right: var(--edgeWhiteSpaceSmall);
        max-width: 34ch;
    }
}  

@media (width <= 810px ) {
    .projectMeta {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        gap: 2rem 1.5rem;
        margin-bottom: 4em;
    }
}  

@media (width <= 650px ) {

    .projectWrapper{
        margin-left: var(--edgeWhiteSpaceXS);
        margin-right: var(--edgeWhiteSpaceXS);
    }

    .projectMeta {
        grid-template-columns: 1fr 1fr;
    }

    p, .projectMeta li, .outLink {
        font-size: 1.1rem;
    }

    .content h2{
        font-weight: bold;
        font-size: 1.3rem;
        margin-bottom: -0.25em;
        margin-top: 2em;
    }

    .heroSection h1{
        font-size: 2.5rem;
        max-width: none;
        line-height: 1.15em;
        margin-left: var(--edgeWhiteSpaceXS);
        margin-right: var(--edgeWhiteSpaceXS);
    }
}  