---

import '../styles/reset.css';
import '../styles/global.css';

import Layout from '../layouts/Layout.astro';

---
<Layout title="Side mangler">


    <div class="wrapper">

		<div class="section">
			<h1>
				<span class="serif lokaltByraa">Oisann!</span> Her er det et problem. Denne siden kan ha blitt slettet. Sjekk om du har skrevet inn linken riktig.
			</h1>

            <h2>Vil du gå tilbake til <a href="/">framsiden vår?</a></h2>
		</div>

</Layout>