---

import '../styles/reset.css';
import '../styles/global.css';

import Layout from '../layouts/Layout.astro';

---
<Layout title="Lokalt Byrå: Strategisk design for bærekraftige lokalsamfunn">

	<h1>Hello!</h1>

</Layout>