---

import '../styles/reset.css';
import '../styles/global.css';

import Layout from '../layouts/Layout.astro';

import ProjectsGrid from '../components/projectsGrid.astro';
import Steder from '../components/steder.astro';
import Ansatte from '../components/ansatte.astro';
import Metoder from '../components/metoder.astro';
import Disipliner from '../components/disipliner.astro';

import Item from '../components/item.astro';


---
<Layout title="Hjem">

	<div class="wrapper">

		<div class="section">
			<h1>
				<span class="serif lokaltByraa">Lokalt Byrå</span> bruker design til å utvikle samfunn sammen med folk fra store og små steder i hele landet. Vi mener at endring og nye løsninger må ta utgangspunkt i lokale forhold og behov, fra grenda til fylket og nasjonalt.
			</h1>
		</div>

		<div class="section">
			<h2>Dette gjør vi gjennom å:</h2>
			<Metoder/>
			</ul>
		</div>

		<div class="section">
			<h2>Utvalgte prosjekter</h2>
			<ProjectsGrid />
		</div>

		<Steder/>

		<div class="section">
			<h2>Verktøykassa vår består blant annet av</h2>
			<Disipliner />
		</div>

		<div class="section">
			<h2>Vi starta Lokalt Byrå for å utvikle morgendagens måte å jobbe med bærekraftig samfunnsutivkling</h2>
			<Ansatte/>
		</div>	
	
	</div>

</Layout>