---
// import 'css/reset.css'
// import 'css/global.css'
---

<html lang="no" dir="ltr">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Lokalt Byrå: Strategisk design for bærekraftige lokalsamfunn</title>

    <meta name="description" content="Hei! Vi er Lokalt Byrå. Vi hjelper lokalsamfunn med å planlegge og designe mer bærekraftige liv, sammen.">
    <meta name="author" content="Lokalt Byrå">

    <meta name=”robots” content="index, follow">

    <meta property="og:title" content="Lokalt Byrå - Globale utfordringer, lokale løsninger."/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Hei! Vi er Lokalt Byrå. Vi hjelper lokalsamfunn med å planlegge og designe mer bærekraftige liv, sammen."/>
    <meta property="og:url"content="https://lokaltbyraa.no" />
    <meta property="og:image" content="/LokaltByraaOpenGraph.jpg"/>

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="website">
    <meta name="twitter:creator" content="Lokalt Byrå">
    <meta name="twitter:title" content="Lokalt Byrå - Globale utfordringer, lokale løsninger.">
    <meta name="twitter:description" content="Hei! Vi er Lokalt Byrå. Vi hjelper lokalsamfunn med å planlegge og designe mer bærekraftige liv, sammen. Globale utfordringer, lokale løsninger.">
    <meta name="twitter:image" content="/LokaltByraaTwitter.jpg">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5c5c5c">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/global.css">

  </head>

  <body>

	<div class="wrapper">
		<header>
			<img src="./img/LokaltByraaLogo.png" alt="" id="logo">
		</header>

		<div class="section">
			<h1>
				<span class="serif lokaltByraa">Lokalt Byrå</span> bruker design til å utvikle samfunn sammen med folk fra store og små steder i hele landet. Vi mener at endring og nye løsninger må ta utgangspunkt i lokale forhold og behov, fra grenda til fylket og nasjonalt.
			</h1>
		</div>

		<div class="section">
			<h2>
				Dette gjør vi gjennom å:
			</h2>

			<ul class="metoder">
				<li>
					<img src="./img/kartlegging.png" alt="" class="metodeIkon">

					<span>
						<strong>Bli godt kjent med folk og steder</strong> for å forstå behov, ønsker og drømmer
					</span>
				</li>

				<li>
					<img src="./img/kartlegging.png" alt="" class="metodeIkon">

					<span>
						<strong>Arbeide iherdig med idéer</strong> som begeistrer og har merverdi for samfunnet
					</span>
				</li>

				<li>
					<img src="./img/kartlegging.png" alt="" class="metodeIkon">

					<span>
						<strong>Teste tidlig, enkelt og ofte</strong> for å lære fra den virkelige verden
					</span>
				</li>

			</ul>
		</div>

		<div class="section">
			<h2>Utvalgte prosjekter</h2>

			<div class="prosjekterGrid">

				<a href="">
					<img src="img/nettside.jpg" alt="">
					<div>
						<h3>Folkeverksted for bo- og blilyst</h3>
						<p>Gamvik Handel, Distriktssenteret og Kommunal- og distriktsdepatementet</p>
					</div>
				</a>

				<a href="">
					<img src="img/nettside.jpg" alt="">
					<div>
						<h3>Fra utbygger- til innbyggerstyrt kommune</h3>
						<p>Kragerø kommune, Design og Arkitektur Norge og Nordic Edge</p>
					</div>
				</a>

				<a href="">
					<img src="img/nettside.jpg" alt="">
					<div>
						<h3>Oppsummerende prosjekttittel</h3>
						<p>Eksempel kommune</p>
					</div>
				</a>

				<a href="">
					<img src="img/nettside.jpg" alt="">
					<div>
						<h3>Oppsummerende prosjekttittel</h3>
						<p>Eksempel kommune</p>
					</div>
				</a>

			</div>
		</div>

		<div class="section steder">

			<div>
				<h2>Vi har jobbet over hele landet – fra nord til sør!</h2>
				<ul>
					<li>Gamvik</li>
					<li>Skjervøy</li>
					<li>Kvænangen</li>
					<li>Nordreisa</li>
					<li>Kåfjord</li>
					<li>Storfjord</li>
					<li>Øksnes</li>
					<li>Sogndal</li>
					<li>Luster</li>
					<li>Aurland</li>
					<li>Øygarden</li>
					<li>Oslo</li>
					<li>Karmøy</li>
					<li>Kvitsøy</li>
					<li>Kragerø</li>
				</ul>
				<h2>Her holder vi til</h2>
				<ul>
					<li>Storfjord – Hovedkontor</li>
					<li>Oslo – Distriktskontor</li>
				</ul>
				
			</div>

			<img src="img/Norge.png" alt="">
		</div>

		<div class="section">
			<h2>Verktøykassa vår består av</h2>
		</div>	

		<div class="section">
			<h2>Vi starta Lokalt Byrå for å utvikle morgendagens måte å jobbe med bærekraftig samfunsutivkling</h2>

			<div class="ansatte">
				<div>
					<img src="img/nettside.jpg" alt="">
					<h3>Glenn Sæstad</h3>
					<p>Strategisk designer og partner</p>
					<p><a href="mailto:glenn@lokaltbyraa.no">glenn@lokaltbyraa.no</a></p>
				</div>

				<div>
					<img src="img/nettside.jpg" alt="">
					<h3>Glenn Sæstad</h3>
					<p>Strategisk designer og partner</p>
					<p><a href="mailto:glenn@lokaltbyraa.no">glenn@lokaltbyraa.no</a></p>
				</div>

				<div>
					<img src="img/nettside.jpg" alt="">
					<h3>Glenn Sæstad</h3>
					<p>Strategisk designer og partner</p>
					<p><a href="mailto:glenn@lokaltbyraa.no">glenn@lokaltbyraa.no</a></p>
				</div>
				
			</div>
		</div>	
	
	</div>

	<footer>
		<div>
			<h2>Har du en idé til et prosjekt eller en utfordring å jobbe med?</h2>

			<h2>Eller vil du  bare bli bedre kjent med oss?</h2>
				
			<!-- Mangler å legge inn diagonal pil e.l. -->
			<a href="" class="taKontakt">Ta kontakt!</a>
		</div>

		<div>
			<ul>
				<li>
					Lokalt Byrå AS<br>
					Org nr. 917 847 630
				</li>
				<li>
					Hovedkontor<br>
					Larsvollen 17, 9046 Oteren
				</li>
				<li>
					Distriktskontor<br>
					Torgata 10, 0181 Oslo
				</li>
				<li>
					<a href="mailto:hei@lokaltbyraa.no">hei@lokaltbyraa.no</a><br>
					Tlf: 95 46 33 68	
				</li>
			</ul>
		</div>
	</footer>

  </body>
</html>
