---

import '../styles/reset.css';
import '../styles/global.css';

import Layout from '../layouts/Layout.astro';

---
<Layout
	title="For studenter"
	description='Lokalt Byrå bruker design til å utvikle samfunn sammen med folk fra store og små steder i hele landet. Vi mener at endring og nye løsninger må ta utgangspunkt i lokale forhold og behov, fra grenda til fylket og nasjonalt.'
	color="black"
	>

	<div class="wrapper">

		<div class="section">
			<h1>
				<span class="serif lokaltByraa">Lokalt Byrå</span> samarbeider gjerne med studenter om bachelor- og masteroppgaver innen temaer knyttet til steds- og samfunnsutvikling, digitalisering og innovasjon i offentlig sektor.
			<p>
				Vi liker å være sparringspartnere og veiledere rundt problemstillinger som ligger nært våre fagområder, og kan bidra med både kunnskap, fagstoff, erfaringer fra praksis, case-studier og tanker om hva vi mener vil være verdifulle bidrag til feltet.
			</p>
		</div>

		<div class="section">
			<h2>Her er noen tema vi selv tror kunne blitt til spennende studentoppgaver:</h2>
			<ul>
				<li>Hvordan kan gater, plasser og utemøbler designes for å raskt og enkelt kunne gjøres om til bilfrie gater på en dag?</li>
				<li>Hvordan skal kommuner og fylkeskommuner forholde seg til at KI og språkmodeller kan overvelde systemet for høringssvar og innsynsbegjæringer?</li>
				<li>Hvordan kan små kommuner med liten lokal erfaring med stedsutvikling få bedre kunnskapsgrunnlag for å lykkes med sentrumsutvikling?</li>
				<li>Hvilke verdier og logikk bygger kommunale data dashboards på i dag, og hvordan ville det sett ut med andre verdier og logikker?</li>
				<li>Mange unge og voksne opplever at de har liten mulighet til å påvirke lokale saker. Samtidig er Norge ett av verdens beste land innen mulighet for vanlige folk å påvirke. Hvordan kan vi snu denne opplevelsen og mangelen på involvering?</li>
				<li>Innen politikken og velferdsstaten er samfunnsutfordringen ungt utenforskap målt og forstått som å handle om å stå utenfor jobb, skole og utdanning. Men unge selv forstår utenforskap som å være utenfor sosiale fellesskap. Hvordan kan disse to ulike forståelsene knyttes sammen for bedre samarbeid mellom voksne ledere og unge?</li>
			</ul>
		</div>

		<div class="section">
			<h2 class="mail"><a href="mailto:hei@lokaltbyraa.no?subject=Sparring%20om%20studentprosjekt!&body=Hei!%0D%0A%0D%0AJeg%20heter%20...%20og%20studerer%20...%20p%C3%A5%20%C3%A5r%20...%20ved%20...%0D%0A%0D%0AJeg%20jobber%20med%20en%20oppgave%20i%20faget%20...%20hvor%20jeg%20utforsker%20...%0D%0A%0D%0AKort%20forklart%20er%20jeg%20interessert%20i%20dette%20tema%20fordi%20...%0D%0A%0D%0A%0D%0AOppgaven%20starter%20...%20og%20skal%20v%C3%A6re%20ferdig%20til%20...%0D%0A%0D%0AJeg%20tar%20kontakt%20med%20dere%20i%20Lokalt%20Byr%C3%A5%20fordi%20jeg%20er%20nysgjerrig%20p%C3%A5%20...%0D%0A%0D%0A%0D%0AAlt%20godt!%0D%0A%5BNavn%5D%0D%0A%5BTelefon%20nummer%5D">Klikk her for å ta kontakt om studentsamarbeid.</a></h2>
		</div>
	
	</div>

</Layout>

<style>

	li{
		font-size: 1.5em;
		margin: 0;
        padding: 0;
        margin-left: 1.5ch;
        padding-left: .5ch;
		margin-top: 0.75em;
        list-style: disc;
        list-style-position: outside;
		max-width: 55ch;
	}

	.mail{
		font-size: 1.75em;
	}

	.mail a:hover{
		color: var(--red);
	}

	@media screen and (max-width: 650px) {

		p{
			margin-top: 2em;
			font-size: 1.25rem;
		}

		li{
			font-size: 1.25rem;
		}

	}


</style>