---
import { Image } from 'astro:assets';

import GlennHeadshot from '../images/ansatt_glenn.jpg';
import NikolaiHeadshot from '../images/ansatt_nikolai.jpg';
import TobiasHeadshot from '../images/ansatt_tobias.jpg';

const ansatteData = [
    {navn: 'Glenn Sæstad', stilling: 'Daglig leder og strategisk designer', epost:'glenn@lokaltbyraa.no', headshot: GlennHeadshot},
    {navn: 'Nikolai Sabel', stilling: 'Stategisk designer', epost:'nikolai@lokaltbyraa.no',headshot: NikolaiHeadshot},
    {navn: 'Tobias Mangersnes', stilling: 'Strategisk designer', epost:'tobias@lokaltbyraa.no', headshot: TobiasHeadshot}
];

---

<div class="ansatte">

    {ansatteData.map(ansatt =>(
       <div>
        <Image src={ansatt.headshot} alt={"Bilde av "+ansatt.navn} width={600} quality={80}/>
        <h3>{ansatt.navn}</h3>
        <p>{ansatt.stilling}</p>
        <p><a href={"mailto:"+ansatt.epost}>{ansatt.epost}</a></p>
    </div> 
    ))}

</div>

<style>
    .ansatte{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    justify-items: center;
    margin-top: 4em;
}

/* .ansatte img{
    max-height: 20em;
    width: auto;
    max-width: 17em;
    border-radius: 1em;
    margin-bottom: 0.5em;
} */

.ansatte img{
    max-height: 30em;
    height: auto;
    /* width: auto; */
    max-width: 50em;
    margin-bottom: 0.5em;
}

.ansatte *{
    margin: 0.25em 0 0 0;
}

.ansatte h3{
    font-size: 1.9em;
}

.ansatte p{
    font-size: 1.5em;
}

a:hover{
    color: var(--blue);
}

</style>