---

interface Props {
    begrep: string;
    forklaring: string;
}

const { begrep, forklaring } = Astro.props;

---

<abbr
    tabindex="0"
    title={forklaring}>
    <span>{begrep}</span>
    
</abbr>

<style>

    abbr[title] {
    /* position: relative; */
  
    /* ensure consistent styling across browsers */
    text-decoration-style: dotted;
    text-decoration-color: var(--red);
    text-decoration-thickness: 0.1em;
    text-decoration-skip-ink: none;

    /* border-bottom: 0.075em solid var(--red); */
  }

  abbr[title]:hover,
  abbr[title]:focus{
    background-color: var(--yellow);
    border-radius: 0.25em;
    text-decoration-color: rgba(0,0,0,0);
    padding-left: 0.15em;
    margin-left: -0.15em;
    padding-bottom: 0.1em;
    margin-bottom: -0.1em;
  }
  
  abbr[title]:hover::after,
  abbr[title]:focus::after {
    content: attr(title);

    position: absolute;
    display: block;
    left: 50%;
    margin: 0.35em 1em;
    transform: translate(-50%);
    width: min(80svw,464px);
    line-height: 1.5em;
  
    /* style tooltip */
    background-color: var(--dark);
    color: white;
    border-radius: 0.5em;
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
    font-size: max(14px, 0.5em);
    padding: 0.5ch 1ch;
  }

  abbr[title]:hover *::after,
  abbr[title]:focus *::after  {
    content: "";
    position: absolute;
    transform: translate(-50%);
    margin-top: 1.1em;
    margin-left: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent var(--dark); transparent;
    }

</style>