---
//import { Image } from 'astro:assets';
//import LokaltByraaLogo from '../images/LokaltByraaLogo.png';
import Arrow from '../components/arrow.astro';
import LbLogo from '../components/lbLogo.astro';

import '../styles/headerLogoPlacement.css';

export interface Props {
  homeButton?: boolean;
}

const { homeButton = false } = Astro.props as Props;

// const hidden = "hidden";
---

<header>
  <a href="/" class={`text ${homeButton && 'show'}`}>
    <span class=""> <Arrow direction='left'/> Hjem</span>

  </a>
    <a href="/" aria-label="Hjem">
        <LbLogo rotation={true}/>
        <!-- <Image src={LokaltByraaLogo} alt="Lokalt Byrå sin logo" id="logo" width={300}/> -->
    </a>

</header>

<style>
    header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

a{
  text-decoration: none;
}

.text span{
  color: white;
  --arrowColor: white;
  text-decoration: none;
  margin-bottom: 0.5em;
  border-bottom: 1px solid white;
  padding-bottom: 0.1em;
  display: none;
  margin: 2rem 2rem;
  font-size: 1.5rem;
  text-shadow: 0px var(--shadowOffset) 0.3em rgba(0, 0, 0, 0.4);
}

.show span{
  display: flex !important;
  flex-direction: row;
  gap: 0.25ch;
  align-items: center;
}

.text span:hover{
  color: var(--yellow);
  --arrowColor: var(--yellow);
  border-color: var(--yellow);
}

/* .logo{
    width: 10em;
    height: auto;
    margin: 2em 2em;
} */

@media (width <= 450px ) {
  .text span{
  margin: 1rem 0.5rem;
  text-shadow: 0px var(--shadowOffset) var(--blurRadius) var(--shadowColor),
  0px var(--shadowOffset) var(--blurRadius) var(--shadowColor);
}
}   

</style>