---

---
<div class="outerMargin">
    <div class="imageGrid">
        <slot />
    </div>
</div>

<style>

    .outerMargin{
        /* margin-left: 2rem;
        margin-right: 2rem; */
        margin: 3rem 2em 2em;
    }

    .imageGrid{
        display: grid;
        gap: 0 1.5rem;
        max-width: var(--contentWidthXL);
        margin: 0 auto;
        justify-content: center;  
    }

    .imageGrid:has(> :nth-child(2n+2):last-child){
        grid-template-columns: repeat(2, 1fr)
    }

    .imageGrid:has(> :nth-child(3n+3)){
        grid-template-columns: repeat(3, 1fr)
    }

    .imageGrid:has(> :nth-child(5n+5)){
        grid-template-columns: repeat(5, 1fr)
    }

    @media (width <= 980px ) {
        .outerMargin{
        margin: 3rem 0em 2em;
        }

        .imageGrid{
        max-width: var(--contentWidthMedium);
        }
    }

    @media (width <= 650px ) {
        .outerMargin{
        margin: 3rem 0em 2em;
        }

        .imageGrid{
            grid-template-columns: 1fr !important;
        }
    }


</style>