---
import { Image } from 'astro:assets';
import DefaultIcon from '../images/defaultIcon.png';
import GlennHeadshot from '../images/ansatt_glenn.jpg';

const metoderData = [
    {title: ' Bli godt kjent med folk og steder', body: 'for å forstå behov, ønsker og drømmer', iconAlt: 'Alt', iconsrc: DefaultIcon},
    {title: ' Bli godt kjent med folk og steder', body: 'for å forstå behov, ønsker og drømmer', iconAlt: 'Alt', iconsrc: DefaultIcon},
    {title: ' Bli godt kjent med folk og steder', body: 'for å forstå behov, ønsker og drømmer', iconAlt: 'Alt', iconsrc: DefaultIcon}
];
---

<ul class="">

    {metoderData.map(metode =>(
        <div>
            <Image src={metode.iconsrc} alt="aa" width={600} quality={80}/>
                    <span>
                        <strong>{metode.title}</strong>
                        {metode.body}
        </span>
        </div>
        
     ))}

</ul>