---
//Importing ids as an array "steder"
export interface Props {
  steder: string[]
}

const { steder } = Astro.props as Props;

//importing SVG data
const { default: innerHTML } = await import(`../images/icons/norskeKommuner.svg?raw`);

---

<div class="norge" arria-label:"Kart Norge" >
    <!-- Placing SVG data -->
    <Fragment set:html={innerHTML} id="norge"/>
</div>

<style is:global>
    .norge, svg {
    width: 100%;
    height: 100%;
    }

    .st0 {
      fill: var(--yellow) !important;
      stroke: var(--light) !important;
      stroke-width: 0.22rem !important;
    }
  
    #Gamvik, #Skjervøy, #Kvænangen, #Nordreisa, #Tromsø, #Kåfjord, #Storfjord, #Øksnes, #Sogndal, #Luster, #Aurland, #Hemsedal, #Øygarden, #Oslo, #Asker, #Karmøy, #Larvik, #Stavanger, #Kvitsøy, #Kragerø
    {
      fill: var(--red) !important;
    }

    #Oslo, #Storfjord {
      fill: var(--blue) !important;
    }
    
</style>