---
import { capitalize } from '../utils';

const { tags } = Astro.props;

interface Props {
  tags: string[];
}

---

<div class="">
    {tags.map((tag: string, index: number) => (
     <span class="">{capitalize(tag)}</span>
    ))}
   </div>